# Ignore everything
*

# .files gitignore
!.gitignore

# Others
!.config
.config/*

!.config/nvim
.config/nvim/*

!.config/nvim/init.lua
!.config/nvim/filetype.lua

!.config/nvim/fnl
.config/nvim/fnl/*

!.config/nvim/fnl/dotfiles
.config/nvim/fnl/dotfiles/*

!.config/nvim/fnl/dotfiles/*.fnl

!.config/nvim/fnl/dotfiles/plugin
.config/nvim/fnl/dotfiles/plugin/*

!.config/nvim/fnl/dotfiles/plugin/*.fnl

!.config/nvim/lua
.config/nvim/lua/*

!.config/nvim/lua/plugins.lua
